In [3]:
#name : Dhimas Nandista
#nim : G6501211010

import anfis
import membership.mfDerivs
import membership.membershipfunction
import numpy
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
conn = mysql.connector.connect(host='localhost',
                                 database='waterquality',
                                 user='root',
                                 password='',
                                 charset='utf8',
                                 use_unicode=True)
         
if conn.is_connected():
    # get records training
    sql_select_Query = '''SELECT `Suhu (C)` as suhu,`Zat padat terlarut (TDS) mg/L` as zt_tds, `Zat padat tersuspensi (TSS) mg/L` as zt_tss,`pH` as ph,`COD (dichromat) mg/L` as cod,`Nitrat mg/L` as nitrat,`Minyak dan Lemak Âµg/L` as minyak,`Bakteri Koli Jml/100 mL`as bk,`Bakteri Koli Tinja Jml/100 mL` as bkt FROM `waterquality_jakarta_training`
                             WHERE `periode` = '2018-1' 
                             AND `Suhu (C)` != ""
                             AND `Zat padat terlarut (TDS) mg/L` != "" 
                             AND `Zat padat tersuspensi (TSS) mg/L`!= ""
                             AND `Nitrat mg/L` != ""
                             AND `Minyak dan Lemak Âµg/L` != ""
                             AND `Bakteri Koli Jml/100 mL` != ""
                             AND `Bakteri Koli Tinja Jml/100 mL` != "" ;'''
    cursor = conn.cursor(buffered=True, dictionary=True)
    cursor.execute(sql_select_Query)        
    data_training = cursor.fetchall()
    #menampilkan data hasil select database
    #print(data_training)
    df = pd.DataFrame(data_training)
    print(df)

   suhu zt_tds zt_tss ph  cod nitrat minyak  bk bkt
0    24     80     24  7    7      1    386   2   4
1    24     91     14  7   11      1   3406   5   1
2    24     99     25  7   10      0    150   8   2
3    24    118     41  7   29      0    302   8   3
4    24    169    147  7   26      0    246   2   1
..  ...    ...    ... ..  ...    ...    ...  ..  ..
75   24    209     20  7   59      0    375   1   3
76   24    124     99  7   10      0     58   3   3
77   24    123     88  7    9      0   2.04  4    6
78   24    122     94  7   28      0   1384   2   2
79   24    314    393  7  337      0   5242   4   1

[80 rows x 9 columns]